  html, body {
                
            background-color: #DCDCDC;
                color: #D4AF37;
                font-family: 'Nunito', sans-serif;
                font-weight: 200;
                height: 100vh;
                margin: 0;

                height: 100%;
                width: 100%;

            }


            .border{
                background-color: #496782;
                width:50%;
                padding:20px;
                margin:auto;
            }
            .story{
                background-color: #FFF;
                padding:20px;
                color:#000;
}